<?php
/**
 * Copyright © magebig.com - All rights reserved.
 * See LICENSE.txt for license details.
 */
use Magento\Framework\App\Action\Action;

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Product list template
 *
 * @var $block \Magento\Catalog\Block\Product\ListProduct
 */
?>
<?php
$_productCollection = $block->getLoadedProductCollection();
$_helper = $this->helper('Magento\Catalog\Helper\Output');
$mbHelper = $this->helper('MageBig\MbFrame\Helper\Data');
$labelHelper = $this->helper('MageBig\WidgetPlus\Helper\Config');

$showAddCart = $mbHelper->getConfig('mbconfig/category_view/show_addcart');
$showCompare = $mbHelper->getConfig('mbconfig/category_view/show_compare');
$showWishlist = $mbHelper->getConfig('mbconfig/category_view/show_wishlist');
$showRating = $mbHelper->getConfig('mbconfig/category_view/show_rating');
$showQuickview = $mbHelper->getConfig('mbconfig/category_view/show_quickview');
?>
<?php if (!$_productCollection->count()): ?>
    <div class="message info empty"><div><?= /* @escapeNotVerified */ __('We can\'t find products matching the selection.') ?></div></div>
<?php else: ?>
    <?php
        $toolbar = $block->getToolbarHtml();
        echo $toolbar;
    ?>
    <?= $block->getAdditionalHtml() ?>
    <?php
    if ($block->getMode() == 'grid') {
        $viewMode = 'grid';
        $image = 'category_page_grid';
        $showDescription = false;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
        $class = $mbHelper->getPageColumn();
    } else {
        $viewMode = 'list';
        $image = 'category_page_list';
        $showDescription = true;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
        $class = 'col-12';
    }
    /**
     * Position for actions regarding image size changing in vde if needed
     */
    $pos = $block->getPositioned();
    ?>
    <?php if ($viewMode == 'grid') : ?>
        <div class="products wrapper <?= /* @escapeNotVerified */ $viewMode; ?> products-<?= /* @escapeNotVerified */ $viewMode; ?>">
            <?php $iterator = 1; ?>
            <ol class="products list items product-items row">
                <?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
                <?php foreach ($_productCollection as $_product): ?>
                    <li class="item product product-item <?= $class ?>">
                        <div class="product-item-info" data-container="product-grid">
                            <?php
                            $productImage = $block->getImage($_product, $image);
                            if ($pos != null) {
                                $position = ' style="left:' . $productImage->getWidth() . 'px;'
                                    . 'top:' . $productImage->getHeight() . 'px;"';
                            }
                            ?>
                            <?php // Product Image ?>
                            <div class="product-show">
                                <a href="<?= /* @escapeNotVerified */ $_product->getProductUrl() ?>" class="product photo product-item-photo" tabindex="-1">
                                    <?= $productImage->toHtml(); ?>
                                    <?php if ($labelHelper->getDiscountPercent($_product)) : ?>
                                        <span class="discount-percent"><?= $labelHelper->getDiscountPercent($_product); ?></span>
                                    <?php endif;?>
                                </a>
                                <div class="product-btn">
                                    <div class="row no-gutters text-center">
                                        <?php if ($showAddCart) : ?>
                                            <?php if ($_product->isSaleable()): ?>
                                                <div class="col">
                                                    <?php $postParams = $block->getAddToCartPostParams($_product); ?>
                                                    <form data-role="tocart-form" data-product-sku="<?=  /* @NoEscape */ $_product->getSku() ?>" action="<?= /* @escapeNotVerified */ $postParams['action'] ?>" method="post">
                                                        <input type="hidden" name="product" value="<?= /* @escapeNotVerified */ $_product->getEntityId() ?>">
                                                        <input type="hidden" name="<?= /* @escapeNotVerified */ Action::PARAM_NAME_URL_ENCODED; ?>" value="<?= /* @escapeNotVerified */ $postParams['data'][Action::PARAM_NAME_URL_ENCODED] ?>">
                                                        <?= $block->getBlockHtml('formkey') ?>
                                                        <button type="submit"
                                                                title="<?= $block->escapeHtml(__('Add to Cart')) ?>"
                                                                class="action tocart mb-tooltip"><i class="mbi mbi-bag2" ></i></button>
                                                    </form>
                                                </div>
                                            <?php else: ?>
                                                <div class="col">
                                                    <?php if ($_product->getIsSalable()): ?>
                                                        <div class="stock available"><span><?= /* @escapeNotVerified */ __('In stock') ?></span></div>
                                                    <?php else: ?>
                                                        <div class="stock unavailable"><span><?= /* @escapeNotVerified */ __('Out of stock') ?></span></div>
                                                    <?php endif; ?>
                                                </div>
                                            <?php endif; ?>
                                        <?php endif; ?>

                                        <div class="col" <?php if (!$showQuickview) : ?>style="display: none;"<?php endif; ?>>
                                            <?= $this->helper('MageBig\QuickView\Helper\Data')->getQuickViewButton($_product,'mb-tooltip'); ?>
                                        </div>
                                        <?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow() && $showWishlist): ?>
                                            <div class="col btn-wishlist">
                                                <button type="button"
                                                   data-post='<?= /* @escapeNotVerified */ $block->getAddToWishlistParams($_product); ?>'
                                                   class="action towishlist mb-tooltip" data-action="add-to-wishlist"
                                                   title="<?= /* @escapeNotVerified */ __('Add to Wishlist') ?>"><i aria-hidden="true" class="mbi mbi-heart"></i></button>
                                            </div>
                                        <?php endif; ?>
                                        <?php if ($block->getAddToCompareUrl() && $showCompare): ?>
                                            <?php $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');?>
                                            <div class="col btn-compare">
                                                <button type="button" class="action tocompare mb-tooltip"
                                                   data-post='<?= /* @escapeNotVerified */ $compareHelper->getPostDataParams($_product);?>'
                                                   title="<?= /* @escapeNotVerified */ __('Add to Compare') ?>"><i aria-hidden="true" class="mbi mbi-chart-bars"></i></button>
                                            </div>
                                        <?php endif; ?>
                                    </div>
                                </div>
                            </div>
                            <div class="product details product-item-details">
                                <?php if ($_product->getTypeId() == 'configurable') : ?>
                                    <div class="swatches-list">
                                        <?= $block->getProductDetailsHtml($_product); ?>
                                    </div>
                                <?php endif; ?>
                                <?php
                                    $_productNameStripped = $block->stripTags($_product->getName(), null, true);
                                ?>
                                <h2 class="product name product-item-name">
                                    <a class="product-item-link"
                                       href="<?= /* @escapeNotVerified */ $_product->getProductUrl() ?>"
                                       title="<?= /* @escapeNotVerified */ $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>">
                                        <?= /* @escapeNotVerified */ $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>
                                    </a>
                                </h2>
                                <?php if ($showRating) : ?>
                                    <?= $block->getReviewsSummaryHtml($_product, $templateType); ?>
                                <?php endif; ?>
                                <?= /* @escapeNotVerified */ $block->getProductPriceHtml(
                                    $_product,
                                    \Magento\Catalog\Pricing\Price\FinalPrice::PRICE_CODE,
                                    \Magento\Framework\Pricing\Render::ZONE_ITEM_LIST
                                ) ?>
										<?php //if ($showAddCart) : ?>
											<?php 
											$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
											$stockRegistry = $objectManager->get('\Magento\CatalogInventory\Api\StockRegistryInterface');
											$stock = $stockRegistry->getStockItem($_product->getId(), $_product->getStore()->getId());
											
											?>
                                            <?php if ($_product->isSaleable()): ?>
                                                <div class="custom-addtocart-form">
                                                    <?php $postParams = $block->getAddToCartPostParams($_product); ?>
                                                    <form data-role="tocart-form" data-product-sku="<?=  /* @NoEscape */ $_product->getSku() ?>" action="<?= /* @escapeNotVerified */ $postParams['action'] ?>" method="post">
                                                        <input type="hidden" name="product" value="<?= /* @escapeNotVerified */ $_product->getEntityId() ?>">
                                                        <input type="hidden" name="<?= /* @escapeNotVerified */ Action::PARAM_NAME_URL_ENCODED; ?>" value="<?= /* @escapeNotVerified */ $postParams['data'][Action::PARAM_NAME_URL_ENCODED] ?>">
                                                        <input type="text" name="qty" class="qty input-text" value="<?= $stock->getMinSaleQty()? : 1?>"/>
														<div class="custom-qty">
															<span class="btn-qty plus" data-increment="<?= $stock->getQtyIncrements() ? : 1 ?>"></span>
															<span class="btn-qty minus" data-increment="<?= $stock->getQtyIncrements()? : 1 ?>"></span>															
														</div>
														
														<?= $block->getBlockHtml('formkey') ?>
                                                        <button type="submit"
                                                                title="<?= $block->escapeHtml(__('Agregar')) ?>"
                                                                class="action tocart mb-tooltip"><i class="mbi mbi-bag2" ></i><span><?= __("Agregar")?></span></button>
														<div class="addcart-message" id="addcart-message-<?= $_product->getId()?>"></div>
                                                    </form>
                                                </div>
                                            <?php endif; ?>
                                        <?php //endif; ?>
                                <div class="product-item-inner">
                                    <?php if ($showDescription):?>
                                        <div class="product description product-item-description">
                                            <?= /* @escapeNotVerified */ $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?>
                                            <a href="<?= /* @escapeNotVerified */ $_product->getProductUrl() ?>" title="<?= /* @escapeNotVerified */ $_productNameStripped ?>"
                                               class="action more"><?= /* @escapeNotVerified */ __('Learn More') ?></a>
                                        </div>
                                    <?php endif; ?>
                                </div>
                            </div>
                        </div>
                    </li>
                <?php endforeach; ?>
            </ol>
        </div>
    <?php else : ?>
        <div class="products wrapper <?= /* @escapeNotVerified */ $viewMode; ?> products-<?= /* @escapeNotVerified */ $viewMode; ?>">
            <?php $iterator = 1; ?>
            <ol class="products list items product-items row">
                <?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
                <?php foreach ($_productCollection as $_product): ?>
                    <li class="item product product-item <?= $class ?>">
                        <div class="product-item-info" data-container="product-grid">
                            <?php
                            $productImage = $block->getImage($_product, $image);
                            if ($pos != null) {
                                $position = ' style="left:' . $productImage->getWidth() . 'px;'
                                    . 'top:' . $productImage->getHeight() . 'px;"';
                            }
                            ?>
                            <?php // Product Image ?>
                            <div class="row">
                                <div class="col-12 col-sm-3">
                                    <div class="product-show">
                                <a href="<?= /* @escapeNotVerified */ $_product->getProductUrl() ?>" class="product photo product-item-photo" tabindex="-1">
                                    <span class="front"><?= $productImage->toHtml(); ?></span>
                                </a>
                                <?= $this->helper('MageBig\QuickView\Helper\Data')->getQuickViewButton($_product,'mb-tooltip'); ?>
                                <?php if ($_product->getTypeId() == 'configurable') : ?>
                                    <div class="swatches-list">
                                        <?= $block->getProductDetailsHtml($_product); ?>
                                    </div>
                                <?php endif; ?>
                            </div>
                                </div>
                                <div class="col-12 col-sm-9">
                                    <div class="row">
                                        <div class="col-12 col-sm-8">
                                            <div class="product details product-item-details">
                                                <?php
                                                $_productNameStripped = $block->stripTags($_product->getName(), null, true);
                                                ?>
                                                <h2 class="product name product-item-name">
                                                    <a class="product-item-link"
                                                       href="<?= /* @escapeNotVerified */ $_product->getProductUrl() ?>"
                                                       title="<?= /* @escapeNotVerified */ $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>">
                                                        <?= /* @escapeNotVerified */ $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>
                                                    </a>
                                                </h2>
                                                <?php if ($showRating) : ?>
                                                <?= $block->getReviewsSummaryHtml($_product, $templateType); ?>
                                                <?php endif; ?>

                                                <div class="product-item-inner">
                                                    <?php if ($showDescription):?>
                                                        <div class="product description product-item-description">
                                                            <?= /* @escapeNotVerified */ $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?>
                                                        </div>
                                                    <?php endif; ?>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-4">
                                            <div class="product-btn-info">
                                                <?= /* @escapeNotVerified */ $block->getProductPrice($_product) ?>
                                                <?php if ($showAddCart) : ?>
                                                    <?php if ($_product->isSaleable()): ?>
                                                        <div class="price-block">
                                                            <?php $postParams = $block->getAddToCartPostParams($_product); ?>
                                                            <form data-role="tocart-form" data-product-sku="<?=  /* @NoEscape */ $_product->getSku() ?>" action="<?= /* @escapeNotVerified */ $postParams['action'] ?>" method="post">
                                                                <input type="hidden" name="product" value="<?= /* @escapeNotVerified */ $_product->getEntityId() ?>">
                                                                <input type="hidden" name="<?= /* @escapeNotVerified */ Action::PARAM_NAME_URL_ENCODED ?>" value="<?= /* @escapeNotVerified */ $postParams['data'][Action::PARAM_NAME_URL_ENCODED] ?>">
                                                                <?= $block->getBlockHtml('formkey')?>
                                                                <button type="submit"
                                                                        title="<?= $block->escapeHtml(__('Add to Cart')) ?>"
                                                                        class="action tocart primary"><span><?= $block->escapeHtml(__('Add to Cart')) ?></span></button>
                                                            </form>
                                                        </div>
                                                    <?php else: ?>
                                                        <div class="price-block">
                                                            <?php if ($_product->getIsSalable()): ?>
                                                                <div class="stock available"><span><?= /* @escapeNotVerified */ __('In stock') ?></span></div>
                                                            <?php else: ?>
                                                                <div class="stock unavailable"><span><?= /* @escapeNotVerified */ __('Out of stock') ?></span></div>
                                                            <?php endif; ?>
                                                        </div>
                                                    <?php endif; ?>
                                                <?php endif; ?>

                                                <?php if ($showWishlist || $showCompare): ?>
                                                    <div class="row no-gutters">
                                                        <?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow() && $showWishlist): ?>
                                                            <div class="col btn-wishlist">
                                                                <button type="button"
                                                                   data-post='<?= /* @escapeNotVerified */ $block->getAddToWishlistParams($_product); ?>'
                                                                   class="action towishlist" data-action="add-to-wishlist"
                                                                   title="<?= /* @escapeNotVerified */ __('Add to Wishlist') ?>"><i aria-hidden="true" class="mbi mbi-heart"></i> <span><?= /* @escapeNotVerified */ __('Wishlist') ?></span></button>
                                                            </div>
                                                        <?php endif; ?>
                                                        <?php if ($block->getAddToCompareUrl() && $showCompare): ?>
                                                            <?php $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');?>
                                                            <div class="col btn-compare">
                                                                <button type="button" class="action tocompare"
                                                                   data-post='<?= /* @escapeNotVerified */ $compareHelper->getPostDataParams($_product);?>'
                                                                   title="<?= /* @escapeNotVerified */ __('Add to Compare') ?>"><i aria-hidden="true" class="mbi mbi-chart-bars"></i> <span><?= /* @escapeNotVerified */ __('Compare') ?></span></button>
                                                            </div>
                                                        <?php endif; ?>
                                                    </div>
                                                <?php endif; ?>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                <?php endforeach; ?>
            </ol>
        </div>
    <?php endif; ?>


    <?= $toolbar ?>
    <?php if (!$block->isRedirectToCartEnabled()) : ?>
        <script type="text/x-magento-init">
        {
            "[data-role=tocart-form], .form.map.checkout": {
                "catalogAddToCart": {
                    "product_sku": "<?= /* @NoEscape */ $_product->getSku() ?>",
					"addToCartButtonTextDefault":"Agregar"
                }
            }
        }
        </script>
    <?php endif; ?>
<?php endif; ?>
<script type="text/javascript">
require(['jquery', 'underscore', 'Magento_Customer/js/customer-data'], function($, _, customerData){
	$('.custom-qty .plus').click(function(e){
		var qtyEle = $(e.target).parent().prev();
		var qty = parseFloat(qtyEle.val()), increment = parseFloat($(e.target).data('increment'));
		qty += increment;
		qtyEle.val(qty);
	});
	$('.custom-qty .minus').click(function(e){
		var qtyEle = $(e.target).parent().prev();		
		var qty = parseFloat(qtyEle.val()), increment = parseFloat($(e.target).data('increment'));
		qty = qty <= increment ? increment : qty - increment;
		qtyEle.val(qty);
	});
	setTimeout(function(){ 
		var cart = customerData.get('cart')();
		if (_.isUndefined(cart.items)) {
			return;
		}
		
		_.each(cart.items, function(item){
			$('#addcart-message-' + item.product_id).html("<span><i class='mbi mbi-check'></i> " + item.qty + " en el carrito</span>");
		});
	}, 1000);
	
});
</script>
