<!--
/**
 * Copyright © magebig.com - All rights reserved.
 * See LICENSE.txt for license details.
 */
-->

<div class="block-content">
    <if args="getCartParam('summary_count')">
        <div data-action="scroll" class="minicart-items-wrapper">
            <div class="title-top">
                <strong>
                    <span class="text" translate="'My Cart'"/>
                </strong>
                <strong>
                    <span
                        class="qty empty"
                        text="getCartParam('summary_count')"
                        data-bind="css: { empty: !!getCartParam('summary_count') == false },
                       attr: { title: $t('Items in Cart') }, blockLoader: isLoading">
                    </span>
                </strong>
            </div>
            <ol id="mini-cart" class="minicart-items" data-bind="foreach: { data: getCartItems(), as: 'item' }">
                <each args="$parent.getRegion($parent.getItemRenderer(item.product_type))"
                      render="{name: getTemplate(), data: item, afterRender: function() {$parents[1].initSidebar()}}"
                />
            </ol>
        </div>
    </if>

    <ifnot args="getCartParam('summary_count')">
        <div class="empty-cart">
            <img class="img-fluid" data-bind="attr: { src: require.toUrl('images/empty-cart.svg') }" alt="empty cart"/>
            <div class="subtitle empty"
                    data-bind="visible: closeSidebar()"
                    translate="'You have no items in your shopping cart.'"
            />
            <if args="getCartParam('cart_empty_message')">
                <p class="minicart empty text" text="getCartParam('cart_empty_message')"/>
                <div class="actions">
                    <div class="secondary">
                        <a class="action viewcart" data-bind="attr: {href: shoppingCartUrl}">
                            <span translate="'View and Edit Cart'"/>
                        </a>
                    </div>
                </div>
            </if>
        </div>
    </ifnot>

    <if args="getCartParam('summary_count')">
        <div class="cart-sum-wrap">
            <each args="getRegion('subtotalContainer')" render=""/>
            <each args="getRegion('extraInfo')" render=""/>

            <div class="actions">
                <div class="secondary">
                    <a class="action primary viewcart" data-bind="attr: {href: shoppingCartUrl}">
                        <span translate="'View Cart'"/>
                    </a>
                </div>
                <div class="primary" if="getCartParam('possible_onepage_checkout')">
                    <button
                            id="top-cart-btn-checkout"
                            type="button"
                            class="action primary checkout"
                            data-action="close"
                            data-bind="
                                attr: {
                                    title: $t('Checkout')
                                },
                                click: closeMinicart()
                            "
                            translate="'Checkout'"
                    />
                    <div data-bind="html: getCartParam('extra_actions')"></div>
                </div>
            </div>
        </div>
    </if>

    <div id="minicart-widgets" class="minicart-widgets">
        <each args="getRegion('promotion')" render=""/>
    </div>
</div>
<each args="getRegion('sign-in-popup')" render=""/>
