// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */
@product-grid-items-per-row-layout-default: 2;
@product-grid-items-per-row-layout-1-screen-s: 3;
@product-grid-items-per-row-layout-1-screen-m: 4;
@product-grid-items-per-row-layout-1-screen-l: 5;
@product-grid-items-per-row-layout-2-left-screen-s: 3;
@product-grid-items-per-row-layout-2-left-screen-m: 4;
@product-grid-items-per-row-layout-2-left-screen-l: '';
@product-grid-items-per-row-layout-2-right-screen-s: 3;
@product-grid-items-per-row-layout-2-right-screen-m: 4;
@product-grid-items-per-row-layout-2-right-screen-l: '';
@product-grid-items-per-row-layout-3-screen-s: 3;
@product-grid-items-per-row-layout-3-screen-m: '';
@product-grid-items-per-row-layout-3-screen-l: '';
@product-grid-items-padding: 0 @indent__base @indent__base;
@product-grid-items-margin: 0 0 @indent__s;
@product-name-text-decoration: none;
@product-name-text-decoration-hover: @link__hover__text-decoration;
@toolbar-mode-icon-font-size: 26px;
@product-h1-margin-bottom-desktop: @indent__base;
@import 'module/_listings.less';
@import 'module/_toolbar.less';
//
//  Common
//  _____________________________________________
& when (@media-common =true) {
    //
    //  Category view
    //  ---------------------------------------------
    .old-price, .old.price {
        text-decoration: line-through;
    }
    .prices-tier {
        .price-container {
            .price-including-tax {
                + .price-excluding-tax {
                    &:before {
                        content: '(' attr(data-label) ': ';
                    }
                    &:last-child:after {
                        content: ')';
                    }
                }
            }
            .weee[data-label] {
                display: inline;
                .price {
                    .lib-font-size(11);
                }
                &:before {
                    content: ' +' attr(data-label) ': ';
                }
            }
        }
    }
    .actual-price {
        font-weight: @font-weight__bold;
    }
    .product.name a {
        &:extend(.abs-product-link all);
    }
    .category {
        &-image {
            .image {
                display: block;
                height: auto;
                max-width: 100%;
            }
        }
        &-image, &-description {
            margin-bottom: @indent__base;
        }
    }
    //
    //  Product images general container
    //  ---------------------------------------------
    .product-image {
        &-container {
            display: block;
            max-width: 100%;
        }
        &-wrapper {
            display: block;
            height: 0;
            overflow: hidden;
            position: relative;
            z-index: 1;
        }
        &-photo {
            bottom: 0;
            display: block;
            height: auto;
            left: 0;
            margin: auto;
            max-width: 100%;
            position: absolute;
            right: 0;
            top: 0;
            width: 100%;
        }
    }
    .product-item-photo img {
        width: 100%;
        height: auto;
    }
    //
    //  Product view
    //  ---------------------------------------------
    .product.media {
        .product.photo .photo.image {
            &:extend(.abs-adaptive-images-centered);
        }
        .placeholder .photo.container {
            max-width: 100%;
        }
        .notice {
            .lib-css(color, @text__color__muted);
            .lib-font-size(@font-size__s);
            margin: @indent__s 0;
        }
        .product.thumbs {
            margin: @indent__base 0 @indent__l;
        }
        .items.thumbs {
            .lib-list-inline();
            .active {
                display: block;
                line-height: 1;
            }
        }
    }
    .product.info.detailed {
        clear: both;
        margin-bottom: 30px;
        margin-top: 30px;
        .item.content {
            display: none;
        }
        .opened + .item.content {
            display: block;
        }
    }
    .additional-attributes {
        width: auto;
        margin: 0 auto;
        tbody tr {
          border-bottom: 1px solid #ccc;
            &:last-child {
                border-bottom: none;
            }
        }
        tr th {
            font-weight: 500;
            text-align: right;
            border-right: 1px solid #ccc;
            padding: 10px 30px;
            width: 50%;
        }
        tr td {
            padding: 10px 30px;
        }
    }
    .product-info-main {
        .page-title-wrapper {
            .page-title {
                margin-top: 0;
                margin-bottom: 10px;
            }
        }
        .stock {
            &.available, &.unavailable {
                display: inline-block;
                margin-right: @indent__base;
                vertical-align: top;
            }
            &.available span {
                color: #669900;
            }
        }
        .product {
            &.attribute {
                &.sku {
                    display: inline-block;
                    vertical-align: top;
                    line-height: 16px;
                    > .value {
                        display: inline-block;
                        vertical-align: top;
                        color: #999999;
                    }
                    .type {
                        margin-right: 5px;
                        font-weight: normal;
                        display: inline-block;
                        &:after {
                            content: ':';
                        }
                    }
                }
                &.overview {
                    margin-top: 10px;
                }
            }
            &.alert {
                margin: @indent__s 0;
            }
        }
    }
    .product-options-wrapper {
        .fieldset-product-options-inner {
            .legend {
                .lib-css(font-weight, @font-weight__bold);
                .lib-css(margin, 0 0 @indent__xs);
                .lib-font-size(14px);
                border: none;
                display: inline-block;
                float: none;
                padding: 0;
            }
            &.required, &._required {
                .legend {
                    &:after {
                        content: '*';
                        .lib-typography( @_font-size: @form-field-label-asterisk__font-size, @_color: @form-field-label-asterisk__color, @_font-family: @form-field-label-asterisk__font-family, @_font-weight: @form-field-label-asterisk__font-weight, @_line-height: @form-field-label-asterisk__line-height, @_font-style: @form-field-label-asterisk__font-style);
                        .lib-css(margin, @form-field-label-asterisk__margin);
                    }
                }
            }
        }
        .field {
            .note {
                display: block;
                font-style: italic;
                &:before {
                    content: '';
                    display: none;
                }
            }
            .price-notice {
                &:extend(.abs-adjustment-incl-excl-tax all);
            }
        }
    }
    .product-item .price-box .price-to {
        display: none;
    }
    .product-info-price, .product-options-bottom {
        .price-box {
            .price-wrapper .price {
                .font-size(24);
                font-weight: @font-weight__bold;
            }
            .price {
                white-space: nowrap;
            }
        }
        .special-price {
            .price-label + .price-wrapper {
                display: inline-block;
            }
        }
        .old-price, .special-price {
            display: inline-block;
            .price-label {
                display: none;
                &:after {
                    content: ': ';
                }
            }
        }
        .old-price .price-wrapper .price {
            .font-size(14);
            color: #999;
            padding: 0 10px;
        }
        .action.tocompare {
            &:extend(.abs-action-addto-product all);
            vertical-align: top;
        }
    }
    .prices-tier {
        &:extend(.abs-reset-list all);
        .price-container {
            display: inline-block;
        }
        .price-including-tax, .price-excluding-tax, .weee {
            display: inline-block;
            .price {
                .lib-font-size(14);
                font-weight: @font-weight__bold;
            }
        }
    }
    .ui-dialog-titlebar-close {
        .lib-button-as-link();
    }
    .block.related {
        .action.select {
            margin: 0 @indent__xs;
        }
    }
    //
    //  Sidebar product view
    //  ---------------------------------------------
    .sidebar {
        .product-items {
            .product-item {
                margin-bottom: @indent__base;
                position: relative;
                &-info {
                    position: relative;
                    width: auto;
                    .product-item-photo {
                        left: 0;
                        position: absolute;
                        top: 0;
                    }
                }
                &-name {
                    margin-top: 0;
                }
                &-details {
                    margin: 0 0 0 85px;
                }
                &-actions {
                    display: block;
                    margin-top: @indent__s;
                }
            }
            .price-box {
                display: block;
                margin: 7px 0;
            }
            .text {
                margin-right: 8px;
            }
            .counter {
                .lib-css(color, @primary__color__lighter);
                .lib-font-size(12);
                white-space: nowrap;
            }
            .minilist {
                .price {
                    display: inline;
                    padding: 0;
                }
                .weee:before {
                    display: inline-block;
                }
            }
        }
        .action {
            &.delete {
                &:extend(.abs-remove-button-for-blocks all);
                position: absolute;
                right: 0;
                top: 0;
            }
        }
        .subtitle {
            &:extend(.abs-no-display all);
        }
        //
        //  Product images only
        //  ---------------------------------------------
        .product-items-images {
            &:extend(.abs-add-clearfix all);
            margin-left: -@indent__xs;
            .product-item {
                &:extend(.abs-add-box-sizing all);
                float: left;
                padding-left: @indent__xs;
            }
        }
        //
        //  Product names only
        //  ---------------------------------------------
        .product-items-names {
            .product-item {
                margin-bottom: @indent__s;
            }
            .product-item-name {
                margin: 0;
            }
        }
    }
    .product-item .product-item-name {
        max-height: 40px;
        overflow: hidden;
    }
    // Product details
    .product-reviews-summary .reviews-actions {
        display: inline-block;
        text-transform: capitalize;
        .add:before {
            content: '|';
            display: inline-block;
            padding: 0 5px;
        }
    }
    .product-info-stock-sku {
        margin-top: 10px;
    }
    .product-info-price {
        margin-bottom: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid #e1e1e1;
        display: inline-block;
        width: 100%;
        vertical-align: top;
    }
    .box-tocart {
        .field {
            display: inline-block;
            vertical-align: top;
            > label {
                display: block;
                .font-size(12);
                line-height: 15px;
                color: #666666;
                margin: 0;
            }
        }
        .fieldset-add {
            display: inline-block;
            position: relative;
            vertical-align: top;
            .control {
                position: relative;
            }
            .custom-qty {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
                button {
                    border: none;
                    height: 37px;
                    width: 40px;
                    text-align: center;
                    display: block;
                    line-height: 37px;
                    font-size: 12px;
                    border-radius: 0;
                    margin: 0;
                    padding: 0;
                    outline: none;
                    cursor: pointer;
                    background-color: transparent;
                }
                &.increase {
                    right: 0;
                    left: auto;
                }
            }
            input.input-text {
                border: 1px solid #d9d9d9;
                border-radius: 1px;
                height: 37px;
                width: 120px;
                text-align: center;
                padding: 0 40px;
                .font-size(14);
            }
        }
        .actions {
            display: inline-block;
            vertical-align: top;
            .towishlist {
                display: inline-block;
                font-size: 26px;
                line-height: 52px;
                color: #999999;
                border: none;
                padding: 0;
                > span {
                    line-height: inherit;
                    display: block;
                }
                &:hover {
                    color: @main_color;
                }
            }
            #instant-purchase {
                display: inline-block;
            }
        }
        .field {
            margin-right: 20px;
            margin-bottom: 10px;
        }
        .actions .tocart, .instant-purchase {
            display: inline-block;
            height: 52px;
            min-width: 200px;
            text-align: center;
            border-radius: 2px;
            text-transform: capitalize;
            font-weight: bold;
            border: 1px solid @main_color;
            background-color: @main_color;
            color: @main3_color;
            margin-right: 20px;
            margin-bottom: 10px;
            &:hover {
                background-color: #ffffff;
                color: #000000;
            }
        }
    }
	
	.custom-addtocart-form {
		.qty {
			display: inline-block;
			width: 60px;
			height: 40px;
			text-align: center;
		
		}
		.custom-qty {
			display:inline-block;
			font-family: 'mbicon' !important;
			vertical-align:middle;
			margin-top: -2px;
			.btn-qty {
				&:before {
					display: block;
					height: 17px;
					width: 16px;
					padding: 1px 3px;
					font-size: 12px;
					font-weight: bold;
					box-sizing: content-box;
					text-align: center;
					cursor:pointer;
					
				}
			}
			.plus {
				&:before {
					content: "\e936";
					background: #666;
					margin-bottom: 2px;
				}
			}
			.minus {
				&:before {
					content: "\e937";
					background: #d4d4d4
				}
			}
		}
		.tocart {
			padding: 8px 15px;
			span {
				display: none;
			}
		}
		.addcart-message span {
			margin-top: 5px;
			display: block;
			border: 1px solid #5fa30f;
			padding: 5px 10px;
			color: #5fa30f;	
		}
	}
}

//
//  Mobile
//  _____________________________________________
.media-width(@extremum, @break) when (@extremum ='max') and (@break =@screen__m) {
    .catalog-product-view {
        .product.media {
            .lib-vendor-prefix-order(-1);
        }
    }
    .box-tocart {
        .actions {
            .action.tocart {
                &:extend(.abs-button-responsive-smaller all);
            }
        }
    }
    .block.related {
        .action.select {
            display: block;
            margin: @indent__xs 0;
        }
    }
    .compare, .product-addto-links .action.tocompare, .product-item-actions .actions-secondary > .action.tocompare, [class*='block-compare'] {
        display: none;
    }
}

//
//  Desktop
//  _____________________________________________
.media-width(@extremum, @break) when (@extremum ='min') and (@break =@screen__m) {
    .sidebar {
        .product-items {
            .product-item {
                &-info {
                    .product-item-photo {
                        float: left;
                        left: auto;
                        margin: 0 @indent__s @indent__s 0;
                        position: relative;
                        top: auto;
                    }
                }
                &-details {
                    margin: 0;
                }
                &-actions {
                    clear: left;
                }
            }
        }
    }
    .product-add-form {
        &:extend(.abs-revert-field-type-desktop all);
    }
	.custom-addtocart-form {		
		.tocart {
			    padding: 8px 10px;
				border-color: #ff0000;
				background: #ff0000;
				text-transform: uppercase;
				color: #fff;
			.mbi-bag2 {
				display:none;
			}
			span {
				display: block;
			}
		}
	}
}

//
//  Desktop large
//  _____________________________________________
.media-width(@extremum, @break) when (@extremum ='min') and (@break =@screen__xl) {
    .sidebar {
        .product-items {
            .product-item {
                &-info {
                    .product-item-photo {
                        float: none;
                        left: 0;
                        margin: 0;
                        position: absolute;
                        top: 0;
                    }
                }
                &-details {
                    margin-left: 85px;
                }
            }
        }
    }
}

//
//  Common
//  _____________________________________________
& when (@media-common =true) {
    //
    //  Compare Products Page
    //  ---------------------------------------------
    body.catalog-product-compare-index {
        .action.print {
            float: right;
            margin: 15px 0;
        }
    }
    .table-wrapper.comparison {
        clear: both;
        max-width: 100%;
        overflow-x: auto;
    }
    .table-comparison {
        table-layout: fixed;
        .cell.label.remove, .cell.label.product {
            span {
                &:extend(.abs-visually-hidden all);
            }
        }
        .cell.label, td:last-child {
            border-right: @table__border-width @table__border-style @table__border-color;
        }
        .cell {
            padding: 15px;
            width: 140px;
            .attribute.value {
                overflow: hidden;
                width: 100%;
            }
            &.product.info, &.product.label {
                border-bottom: @table__border-width @table__border-style @table__border-color;
            }
            &.label {
                .attribute.label {
                    display: block;
                    width: 100%;
                    word-wrap: break-word;
                }
            }
            &.attribute {
                .lib-font-size(13);
                img {
                    height: auto;
                    max-width: 100%;
                }
            }
        }
        .product-item-photo {
            display: block;
            margin: 0 auto 15px;
        }
        .product-image-photo {
            margin-left: 0;
        }
        .product-item-actions, .price-box, .product.rating, .product-item-name {
            display: block;
            margin: 15px 0;
        }
        .product-addto-links {
            margin-top: 15px;
            .action.split, .action.toggle {
                .lib-button-s();
            }
            .action.toggle {
                padding: 0;
            }
        }
        .cell.remove {
            padding-bottom: 0;
            padding-top: 0;
            text-align: right;
            .action.delete {
                &:extend(.abs-remove-button-for-blocks all);
            }
        }
        .product-item-actions {
            > .actions-primary {
                + .actions-secondary {
                    margin-top: @indent__s;
                }
            }
        }
        .action {
            &.tocart {
                white-space: nowrap;
            }
        }
    }
    .comparison.headings {
        .lib-css(background, @page__background-color);
        left: 0;
        position: absolute;
        top: 0;
        width: auto;
        z-index: 2;
    }
}
